.cart {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 50px auto;
  justify-content: space-between;
  border: 1px solid #282c34;
  padding: 20px;
}

.cart-bag {
  display: flex;
  flex-direction: row;
}

.cart-summary {
  display: flex;
  flex-direction: row;
  width: 50%;
}