.cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cart-img {
  width: 100px;
}

.cart-openSidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100vh;
  transition: 500ms;
  transform: translateX(100%);
  background-color: rgb(75, 71, 71);
  width: 260px;
  height:100%;
  color: white;
  padding: 50px;
}

.cart-openSidebar.open {
  transform: translateX(0);
  height: 100%;
}

.emptyShoppingBag {
  text-align: center;
  margin-top: 50px;
}

.cartHeader {
  width: 100%;
  text-align: center;
  color: beige;
}

.closeSidebar {
  display: flex;
  position: absolute;
  font-size: 30px;
  margin-top: 5px;
  top: 0;
  margin-left: -40px;
  color: beige;
  cursor: pointer;
}

.cartProducts {
  color: beige;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 45vh;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.cart-checkout {
  width: 100px;
  height: 40px;
  font-weight: 700;
  cursor: pointer;
}
.deleteCart {
  border: none;
  background-color: transparent;
  color: rgb(240, 123, 123);
  font-weight: 700;
  cursor: pointer;
}