.footer-container{
  height: 15rem;
  margin-top: 150px;
  box-shadow: 0 0 10px black;
  display: flex;
  gap: 20rem;
  justify-content: center;
  background-color: black;
  color: white;
}

.social{
  gap: 20px;
}

.about{
  width: 20%;
}