.App {
  text-align: center;
}

body,
html {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  background-color: rgb(240, 240, 240);
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

.nav-1 {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  width: 100%;
  text-align: left;
  padding-left: 50px;
  justify-content: start;
}

.nav-2 {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  justify-content: center;
}

.nav-3 {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  width: 100%;
  justify-content: end;
  padding-right: 50px;
}

.navbar a {
  text-decoration: none;
  color: #47484a;
}

.navbar a:hover {
  color: rgb(125, 125, 125);
}

.cartNum {
  font-size: medium;
}

.btns {
  text-align: center;
}

.checkout_btn,
.details_btn,
.heart_btn {
  margin: 4px;
  font-size: 1.5rem;
  font-weight: 550;
  padding: 10px;
  border: none;
  background-color: transparent;
}

.checkout_btn a,
.details_btn a,
.heart_btn a,
.buy_btn a {
  text-decoration: none;
  color: #303030;
}

.details_btn a:hover {
  color: rgb(52, 48, 133);
}

.checkout_btn a:hover {
  color: rgb(30, 87, 58);
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.productCard {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: rgb(249, 249, 249);
  width: 260px;
  height: fit-content;
  padding: 20px;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgb(181, 181, 181);
}

.productCard a {
  text-decoration: none;
  color: #303030;
}

.productCard a:hover {
  text-decoration: none;
  color: #828282;
}

.like_btn {
  font-size: 22px;
  width: fit-content;
}

.productcardDesc {
  font-size: 11px;
}

.productcardPrice {
  font-weight: 500;
}

.inputProductQty {
  padding: 2px;
  
  font-size: 1.1rem;
  border: solid 0.05rem;
  border-radius: 3px;
  background-color: #f4f4f4;
}

.buy_btn {
  margin: 4px;
  font-size: 0.9rem;
  font-weight: 550;
  padding: 10px 20px 10px 20px;
  border: none;
  background-color: #e3e3e3;
}

.buy_btn a:hover {
  color: rgb(97, 97, 97);
}

.cart {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 50px auto;
  justify-content: space-between;
  border: 1px solid #282c34;
  padding: 20px;
}

.cart-bag {
  display: flex;
  flex-direction: row;
}

.cart-summary {
  display: flex;
  flex-direction: row;
  width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
